*{
  border: 1px solid black;
  font-family: arial,sans-serif;
}

html, body {
      font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

a {
  text-decoration: none;
}

div {
  display:block;

}
.nav {
  font-size: small;
  text-align: -webkit-right;
  float: right;
  clear: left;
  width: 100%;
}

.page {
  height: 100%;
  min-height: 100%;
  position: absolute;
  width: 100%;

}

.body {
  margin-top: 100px;
  text-align: -webkit-center;
  display: block;
  clear: both;
}

.logo {
  margin-top: 32px;
  clear: both;
}

.search_bar {
  display: inline-block;
  width: 100%;
}

img.search_bar {
  float: right;
}

.footer {
  font-size: small;
  line-height: 40px;
  display: block;
  height: 40px;
  position: absolute;
  width: 100%;
}

.footer_link {
  padding-left: 27px;
}

.buisness {
  float: left;
}
.legal {
  float: right;
}
